/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on June 17, 2013 */

@font-face {
    font-family: 'Abe';
    src: url('../fonts/abrahamlincoln/abrahamlincoln-webfont.eot');
    src: url('../fonts/abrahamlincoln/abrahamlincoln-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abrahamlincoln/abrahamlincoln-webfont.woff') format('woff'),
         url('../fonts/abrahamlincoln/abrahamlincoln-webfont.ttf') format('truetype'),
         url('../fonts/abrahamlincoln/abrahamlincoln-webfont.svg#abraham_lincolnregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*@font-face {
    font-family: 'Lavanderia';
    src: url('../fonts/lavanderia/lavanderia_delicate-webfont.eot');
    src: url('../fonts/lavanderia/lavanderia_delicate-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lavanderia/lavanderia_delicate-webfont.woff') format('woff'),
         url('../fonts/lavanderia/lavanderia_delicate-webfont.ttf') format('truetype'),
         url('../fonts/lavanderia/lavanderia_delicate-webfont.svg#lavanderia_delicatedelicate') format('svg');
    font-weight: 300;
    font-style: normal;

}*/

@font-face {
    font-family: 'Lavanderia';
    src: url('../fonts/lavanderia/lavanderia_regular-webfont.eot');
    src: url('../fonts/lavanderia/lavanderia_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lavanderia/lavanderia_regular-webfont.woff') format('woff'),
         url('../fonts/lavanderia/lavanderia_regular-webfont.ttf') format('truetype'),
         url('../fonts/lavanderia/lavanderia_regular-webfont.svg#lavanderia_delicatedelicate') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-light-webfont.eot');
    src: url('../fonts/opensans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 100%;
}

html { 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    text-rendering: optimizeLegibility;
    font-size: 0.8em;
    display: none;
}

.container {
    padding: 0 20px;
}

.main {
    position: relative;
    top: 30px;
    background-color: rgba(0,0,0, 0.5);
    margin: 0 auto 50px;
    width: 90%;
    padding: 10% 5%;
    border-radius: 2px;
}

h1, h2 {
    margin: 0 auto;
    line-height: 1;
    width: 250px;
}

h1 {
    font-family: 'Abe', serif;
    color: #FFF;
    font-size: 60px;
    font-weight: 100;
    position: relative;
}

h1 .ampersand{
    display: none;
}

h1:after {
    content:'&';
    display: block;
    font-size: 120px;
    color: rgba(250,231,168,0.2);
    position: absolute;
    top: -40%;
    right: 21%;
}

h1 > span:last-child {
    margin-left: 20px;
}

.tagline {
    font-family: 'Lavanderia', script;
    font-size: 28px;
    font-weight: normal;
    color: #fadc79;
    margin-bottom: 0.5em;
}

h2 {
    font-family: 'Abe', serif;
    font-size: 48px;
    color: #abb0b3;
    font-weight: 100;
    letter-spacing: 5px;
    position: relative;
}

h2:before, h2:after{
    content: '';
    display: block;
    background: white;
    width: 5%;
    height: 2px;
    position: absolute;
    top: 23px;
}

h2:before{
    left: 6%;
}

h2:after{
    right: 8%;
}

.location {
    margin-top: 30px;
}

.location > p {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    font-family: 'Abe', serif;
    color: white;
    font-size: 24px;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    margin: 10px auto;
    width: 53%;
}

.footer {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: white;
    margin: 50px auto 0;
    width: 83%;
}

@media screen and (min-width: 561px){
    body{
        background: rgba(0,0,0,0.3);
    }

    html{
        font-size: 1em;
    }

    .container {
        padding: 0;
    }

    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 0 0 -260px;
        width: 400px;
        padding: 60px;
    }

    h1, h2 {
        width: inherit;
    }

    h1 {
        font-size: 106px;
    }

    h1:after {
        font-size: 180px;
        top: -30px;
        right: 92px;
    }

    .tagline {
        font-size: 36px;
    }

    h2 {
        font-size: 72px;
        position: relative;
    }

    h2:before, h2:after{
        top: 33px;
    }

    h2:before{
        left: 10%;
    }

    h2:after{
        right: 12%;
    }

    .location > p {
        font-size: 30px;
        width: 42%;
    }

    .footer {
        font-size: 12px;
        width: 62%;
    }
}

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}

.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}

@-webkit-keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-60px);
    }   100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -moz-transform: translateY(-60px);
    }
    
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -o-transform: translateY(-60px);
    }
    
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
    -moz-animation-name: fadeInDownBig;
    -o-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   IE issues
   ========================================================================== */

html.ie, html.lt-ie9{
    background-image: url('../img/hawaii-beach-x-large.jpg');
    display: block;
}

.ie .main, .lt-ie9 .main{
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); 
    zoom: 1;
    opacity: 0.5;
    position: relative;
    top: 30px;
}

.ie h1, .lt-ie9 h1,
.ie h2, .lt-ie9 h2 {
    width: inherit;
}

.lt-ie9 h1 .ampersand{
    display: inline;
}

.lt-ie9 h1:after{
    display: none;
}