/* ==========================================================================
   Footer
   ========================================================================== */

.footer {

	.back-top {
		border: 20px solid rgba(0, 0, 0, 0);
		border-bottom-color: rgb(38, 38, 38);
		margin-left: -20px;
		margin-top: -40px;
	}

	.container {
		margin: 0 auto;
		padding: 100px 0;

		@media only screen and (max-width: 768px){
			padding: 100px 40px;
		}
	}

	ul.contactus {
		border-bottom: 1px solid rgb(54, 57, 66);
		display: block;
		letter-spacing: -1px;
		margin-bottom: 35px;
		overflow: hidden;
		padding-bottom: 34px;
		margin-left: 0;

		li {
			color: rgb(255, 255, 255);
			display: block;
			float: left;
			font-size: 32px;
			font-weight: normal;
			line-height: 35px;
			margin-right: 50px;
			word-wrap: break-word;

			a {
				word-wrap: break-word;

				@media only screen and (max-width: 480px){
					font-size: 0.7em;
					display: block;
				}
			}

			@media only screen and (max-width: 768px){
				font-size: 2em;
			}

			@media only screen and (max-width: 480px){
				font-size: 1.5em;
			}
		}
	}

	.footer-social {
		width: 50px;
		height: 50px;
		background-color: rgb(54, 57, 66);
		margin-right: 30px;
		float: left;
		border-radius: 50px;
		bottom: 20px;
		@include transition(all 0.25s ease);

		> a {
			vertical-align: middle;
			text-align: center;
			font-size: 1.75em;
			display: block;
			padding: 12px 10px 8px;
			opacity: 1;
		}

		&:hover {
			background-color: $blue;
		}

		.zocial-facebook,
		.zocial-instagram{
			position: relative;
			left: -1px;
		}

		.zocial-facebook{
			left: -4px;
		}

		@media only screen and (max-width: 767px){
			margin-bottom: 30px;
			margin-right: 30px;
		}
	}

	.copyright {
		margin-top: 35px;
		padding-top: 35px;
		width: 100%;
		border-top: 1px solid rgb(54, 57, 66);
		float: left;

		p {
			color: rgb(255, 255, 255);
			opacity: 0.3;
		}

		@media only screen and (max-width: 480px){
			margin-top: 0;
		}
	}
}
