/* ==========================================================================
   Header
   ========================================================================== */

.main-header{
	/* &.affix .brand {
		height: 0;
		margin: 0;
	} */

	.brand img {
		margin-left: 35px;
	}
}
