/* ==========================================================================
   Sections
   ========================================================================== */

.section-block h1.section-title {
	@media only screen and (max-width: 480px){
		font-size: 32px;
	}
}

.lead {
	line-height: 1.8;
	margin-bottom: 40px;
}

.service {
	margin-bottom: 40px;
}

.ie .service a{
	font-size: 12px;
}


.honeyfund {
	margin: 0 auto;
	text-align: center;
	background: url('http://www.honeyfund.com/share/honeyfund3.png') no-repeat;
	display: block;
	width: 200px;
	height: 100px;
	text-indent: -9999em;
}

.span6 {
	@media only screen and (max-width: 768px){
		margin: 50px 0;

		&:first-child {
			margin-top: 0;
		}
	}
}

.progress-info.progress-striped .bar,
.progress-striped .bar-info {
	background-color: $blue;
}

.section-block {

	.hide {
		border: none;
	}

	.end {
		border-right-width: 1px;
	}

	.container .recent-post {
		margin-bottom: 30px;
		background-color: whitesmoke;

		.recent-post-image {
			margin: 0;
			width: auto;
			text-align: center;
			position: relative;
			background-image: image-url('preload.gif');
			background-position: center center;
			background-repeat: no-repeat;

			&.lazyloaded {
				background: none;
			}

			.overlay {
				position: absolute;
				left: 0; top: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				z-index: 1;
				display: block;
				background-color: rgba(255, 255, 255, 0.5);
				-webkit-transform: translateZ(0);
				-webkit-transition: opacity .4s ease;
				-moz-transition: opacity .4s ease;
				-o-transition: opacity .4s ease;
				transition: opacity .4s ease;
			}

			.overlay .post-icon {
				width: 64px;
				height: 64px;
				text-align: center;
				position: absolute;
				left: 50%; top: 50%;
				border-radius: 50%;
				margin: -32px 0 0 -32px;
				background-color: #000000;
				-webkit-transform: translateZ(0) rotate(-60deg);
				-moz-transform: translateZ(0) rotate(-60deg);
				-ms-transform: translateZ(0) rotate(-60deg);
				-o-transform: translateZ(0) rotate(-60deg);
				transform: translateZ(0) rotate(-60deg);
				-webkit-transition: -webkit-transform .4s ease;
				-moz-transition: -moz-transform .4s ease;
				-o-transition: -moz-transform .4s ease;
				transition: transform .4s ease;
			}

			&:hover .overlay {
				opacity: 1;
			}

			&:hover .overlay .post-icon {
				-webkit-transform: translateZ(0) rotate(0deg);
				-moz-transform: translateZ(0) rotate(0deg);
				-ms-transform: translateZ(0) rotate(0deg);
				-o-transform: translateZ(0) rotate(0deg);
				transform: translateZ(0) rotate(0deg);
			}

			.overlay .post-icon [class*="icon-"] {
				font-size: 24px;
				color: #ffffff;
				line-height: 64px;
			}

			 > img {
				@media only screen and (max-width: 769px) {
					width: 100%;
				}
			}

			@media only screen and (max-width: 769px) {
				max-height: 250px;
				overflow: hidden;
			}
		}

		.recent-post-text {
			padding: 30px;

			.title {
				font-size: 18px;
				margin: 0;
				text-transform: uppercase;
				font-weight: bold;
			}

			.meta {
				margin: 0 0 14px;
				padding: 0;
				list-style: none;
			}

			.meta li {
				display: inline-block;
				font-size: 12px;
				margin-right: 6px;
				color: #888888;
			}

			.meta li [class*="icon-"] {
				margin-right: 3px;
			}
		}
	}
}


.lt-ie9 .section-block {

	.container .recent-post {
		background: transparent;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5FFFFFF,endColorstr=#E5FFFFFF)"; /* IE8 */

		.recent-post-image {

			.overlay {
				background: transparent;
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF)";
				display: none;
			}

			&:hover .overlay {
				display: block;
			}
		}
	}
}

.team {
	position: relative;
	text-align: center;
	margin-bottom: 30px;
	background-color: rgb(255, 255, 255);
	border: none;
	width: 246px;
	margin: 0 auto 60px;

	.team-info {
		position: absolute;
		width: 246px;
		height: 246px;
		top: 50%;
		left: 50%;
		margin: -123px 0 0 -123px;
		padding: 0;
		background: rgba(255, 255, 255, 0.65);
		opacity: 0;
		@include transform(scale(1.25));
		@include transition(all 0.25s ease);

		.name {
			margin-top: 100px;
		}

		&:after {
			background-color: transparent;
		}
	}

	.team-photo {
		width: 246px;
		height: 246px;
		overflow: hidden;
		@include border-radius(246px);

		> img {
		@include transition(all 0.25s ease);
		}
	}

	&:hover {

		> .team-info {
			opacity: 1;
			@include transform(scale(1));
		}

		> .team-photo > img {
			@include transform(rotate(10deg));
		}
	}
}

.honeyfund {
	@include transition(transform 0.25s ease);

	&:hover {
		@include transform(rotate(5deg) scale(1.1));
	}
}
